.main,.left,.right{
    float:left;
    min-height: 100px;
}
.main{
    width: 100%;
    background: #fe8019;
}
.left{
    margin-left: -100%;
    width: 200px;
    background: #fef20d;
}
.right{
    margin-left: -220px;
    width: 220px;
    background: #ffcc66;
}
.mainInner{
    margin-left: 200px;
    margin-right: 220px;
}
