body{
    width: 100%;
}
.nav{
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
}
.nav{
    width: 800px;
    height: 60px;
}
.nav li{
    float: left;
    width: 100px;
    height: 60px;
    color: white;
    background: #4AA8D8;
}

.nav li.active{
    background: #ffcc66;
    color: red;
}
.u-content{
    width: 100%;
}
.u-content-item{
    height: 800px;
}
.u-content-item:nth-of-type(2n+1){
    background-color: yellow;
}
.u-content-item:nth-of-type(2n){
    background-color: #ea8010;
}